/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500;600;700;800;900&display=swap');

/* css variable */
:root {
    --primaryColor: #49BEF3;
    --white: #fff;
    --backgroundColor: #0d1117;
    --text1Color: #4d4d4d66;
}

/* Common css goes here */
body {
    font-family: 'Poppins',
        sans-serif;
    font-size: 14px;
    color: var(--white);
    user-select: none;
    scroll-behavior: smooth;
    background: var(--backgroundColor);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    line-height: 0.8;
}

a:hover {
    text-decoration: none;
}

.section_title h3 {
    font-size: 32px !important;
    text-align: center;
    position: relative;
    z-index: 2;
    color: var(--white);
    font-family: 'Montserrat',
        sans-serif;
    bottom: -46px;
    font-weight: 700;
    text-transform: capitalize;
}

.section_title p {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 72px;
    color: var(--text1Color);
    z-index: 1;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    -webkit-text-stroke: 2px var(--text1Color);
    font-weight: bold;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.all_btn a {
    font-size: 20px;
    color: var(--backgroundColor);
    padding: 10px 40px;
    margin-right: 20px;
    font-weight: 600;
    display: inline-block;
    z-index: 1;
    text-transform: uppercase;
    background: url(../images/image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    font-family: 'Montserrat',
        sans-serif;
}

.all_btn a:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.all_btn i {
    margin-right: 10px;
}

.content-gap {
    margin-top: 120px;
}

.left_right_btn {
    position: fixed;
    color: var(--white);
    z-index: 1;
    display: flex;
    flex-direction: column;
    bottom: 10px;
    right: 25px;
}

.left_right_btn i {
    font-size: 25px;
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid var(--primaryColor);
    margin-bottom: 20px;
    cursor: pointer;
    display: inline-block;
    transition: all .3s linear;
    background: #4d4d4d66;

}

.left_right_btn i:hover {
    color: var(--primaryColor);
    border-color: var(--white);
}

/* =============  preloader css start here ===============  */
.preloader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: #0c0c0c;
    position: fixed;
    z-index: 999999;
}

.preloader.complete {
    display: none;
}

/* =============== preloader css end here =============== */

/* Sticky nav css goes here */
.show_more_btn {
    position: fixed;
    top: 20px;
    right: 40px;
    z-index: 2;
    border: 1px solid #fff;
    padding: 10px;
    cursor: pointer;
    text-transform: capitalize;
    font-size: 16px;
    width: 150px;
    text-align: end;
    color: var(--white);
    font-weight: 600;
}

/* Icon 2 */

#nav-icon2 {
    position: relative;
    width: 20px;
    top: 4px;
}

#nav-icon2 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #fff;
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    -ms-transform: rotate(0deg);
}

#nav-icon2 span:nth-child(even) {
    left: 50%;
    border-radius: 0 9px 9px 0;
}

#nav-icon2 span:nth-child(odd) {
    left: 0px;
    border-radius: 9px 0 0 9px;
}

#nav-icon2 span:nth-child(1),
#nav-icon2 span:nth-child(2) {
    top: 0;
}

#nav-icon2 span:nth-child(3),
#nav-icon2 span:nth-child(4) {
    top: 7px;
}

#nav-icon2 span:nth-child(5),
#nav-icon2 span:nth-child(6) {
    top: 15px;
}

#nav-icon2.open span:nth-child(1),
#nav-icon2.open span:nth-child(6) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}

#nav-icon2.open span:nth-child(2),
#nav-icon2.open span:nth-child(5) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
}

#nav-icon2.open span:nth-child(1) {
    left: 5px;
    top: 7px;
}

#nav-icon2.open span:nth-child(2) {
    left: calc(50% - 5px);
    top: 7px;
}

#nav-icon2.open span:nth-child(3) {
    left: -50%;
    opacity: 0;
}

#nav-icon2.open span:nth-child(4) {
    left: 100%;
    opacity: 0;
}

#nav-icon2.open span:nth-child(5) {
    left: 5px;
    top: 8px;
}

#nav-icon2.open span:nth-child(6) {
    left: calc(50% - 5px);
    top: 7px;
}

.show_more_btn i {
    margin-right: 10px;
}

.header_wrapper {
    width: 0%;
    transition: all .5s linear;
    -webkit-transition: all .5s linear;
    -moz-transition: all .5s linear;
    -ms-transition: all .5s linear;
    -o-transition: all .5s linear;
    opacity: 0;
    visibility: hidden;
}

.sidebar_hide_show .header_wrapper {
    width: 15%;
    opacity: 1;
    visibility: visible;
}

.sidebar_hide_show .header_section {
    width: 15%;
}

.header_section {
    background: var(--backgroundColor);
    height: 100vh;
    width: 0%;
    margin-left: -300px;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: all .5s linear;
    -webkit-transition: all .5s linear;
    -moz-transition: all .5s linear;
    -ms-transition: all .5s linear;
    -o-transition: all .5s linear;
}

.sidebar_hide_show .header_section {
    margin-left: 0;
}

.header_section .navbar {
    padding: 10px 0px;
}

.header_section .navbar-brand {
    width: 200px;
    margin: auto;
    display: block;
    margin-bottom: 20px;
}

.navbar-nav {
    width: 100%;
    padding: 0px 10px;
}

.nav-item {
    border-bottom: 1px solid #29292973 !important;
    padding: 10px 0px;
}

.nav-item:last-child {
    border-bottom: none;
}

.header_section ul li {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    padding-bottom: 10px;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
    width: 100% !important;
}

.header_section ul li:hover,
.header_section ul li.slick-current {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    margin-left: 20px;
}

.header_section .nav-link i {
    color: var(--primaryColor);
}

.header_section .nav-link span {
    color: var(--white);
    padding-left: 10px;
}

/* body content css goes here */
.body_content {
    position: relative;
    width: 100%;
    transition: all .5s linear;
    -webkit-transition: all .5s linear;
    -moz-transition: all .5s linear;
    -ms-transition: all .5s linear;
    -o-transition: all .5s linear;
}

.sidebar_hide_show .body_content {
    width: 85%;
}

/* banner section goes here */
#banner_section {
    height: 100vh !important;
    display: flex !important;
    justify-content: center;
    flex-direction: column;
    width: 100% !important;
}

.banner_section {
    background-image: url(../images/main_bg.png),
        linear-gradient(rgba(37, 37, 37, 1), rgba(37, 37, 37, 1));
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 20px !important;
    padding-top: 10px;
}

.banner_section::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: #0d1117aa;
    top: 0;
    z-index: 1;
    left: 0;
    clip-path: polygon(77% 0, 100% 0, 100% 100%, 0 100%);
}

.banner_overlay {
    width: 100%;
    height: 100%;
    background: rgba(4, 4, 4, 0.71);
    z-index: 1;
    position: absolute !important;
    top: 0;
    left: 0;
    filter: blur(100px);
}

.banner_section .section_content {
    z-index: 2;
}

.banner_img {
    width: 260px;
    margin: auto;
}
.banner_img img {
    border: 5px solid var(--primaryColor);
    border-radius: 50%;
    background: #13131387;
}
.banner_details h1 {
    color: transparent;
    text-transform: uppercase;
    font-size: 80px;
    -webkit-text-stroke: 1px var(--primaryColor);
    padding: 25px 0px;
    margin: 0;
    font-family: 'Montserrat',
        sans-serif;
    font-weight: 700;
}

.banner_details h1 span,
.section_title h3 span {
    color: var(--primaryColor)
}

.banner_slider.slick-initialized.slick-slider {
    height: 25px !important;
    z-index: 1 !important;
    overflow: hidden;
}

.banner_details p {
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 600;
    color: var(--white);
}

.banner_details .social_icon {
    padding-top: 15px;
    padding-bottom: 15px;
}

.banner_details .social_icon a {
    margin-left: 20px;
}

.banner_details .social_icon a i:hover {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}

.banner_details .social_icon a:first-child {
    margin-left: 0;
}

.banner_details .social_icon i {
    font-size: 20px;
    color: var(--white);
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
}

.banner_btn {
    margin-top: 10px;
    z-index: 2 !important;
}

/* About Section css goes here */
#about_section {
    overflow-y: scroll;
    height: 100vh !important;
    width: 100% !important;

}

.about_section {
    background: var(--backgroundColor);
    padding-top: 80px;
}

.slick-vertical .slick-slide {
    border: none;
}
.about_img img {
    border: 5px solid var(--primaryColor);
}
.about_content h4 {
    color: var(--white);
    position: relative;
    width: max-content;
    padding-bottom: 6px;
    margin-bottom: 30px;
    font-family: 'Montserrat',
        sans-serif;
}

.about_content h4::after {
    content: "";
    width: 100%;
    height: 1px;
    background: var(--primaryColor);
    position: absolute;
    left: 0;
    bottom: 0;
}
.about_content p {
    text-align: justify;
}
.about_content p,
.about_info p,
.about_info p>a {
    color: #b5b5b5;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-transform: capitalize;
}

.about_content p span,
.about_info p span {
    font-weight: 700;
    color: var(--primaryColor)
}

.about_info {
    padding-top: 60px;
}

.about_info .all_btn {
    margin-top: 45px;
}

.count_item {
    padding: 20px 10px;
    border: 1px solid var(--primaryColor);
    text-align: center;
    border-radius: 5px;
    padding-top: 30px;
    margin-bottom: 30px;
}

.count_item p:first-child {
    font-size: 26px;
    color: var(--primaryColor)
}

.count_item p:last-child {
    font-size: 16px;
    text-transform: uppercase;
}
/* skills Section css goes here */
.skills_section {
    height: 100vh !important;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 80px;
    background: var(--backgroundColor);
    width: 100% !important;

}

.skills_nav ul li {
    display: flex !important;
    font-size: 16px;
    text-transform: uppercase;
    margin-right: 15px;
    background: var(--primaryColor);
    border-radius: 3px;
    color: #26292c;
    cursor: pointer;
    font-weight: 600;
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    height: 50px !important;
    line-height: 50px;
    justify-content: center;
    align-items: center;
}

.skills_nav ul li i {
    font-size: 24px;
    padding-top: 5px;
    display: inline-block;
    margin-right: 10px;
}

.skills_nav ul li:hover,
.skills_nav ul li.slick-current,
.skills_nav ul li.slick-white {
    letter-spacing: 2px;
    color: #fff
}

.skills_contents {
    margin-top: 50px;
}

.skills_contents .item {
    display: flex;
    background: #26292c;
    padding: 20px;
    border-radius: 3px;
}

.skills_contents .item .cp_logo {
    width: 40%;
    border-right: 5px solid var(--primaryColor);
    margin-right: 20px;
}

.skills_contents .item .cp_expri {
    width: 60%;
}

.cp_expri h3 {
    font-size: 22px;
    text-transform: capitalize;
    font-weight: 600;
    color: var(--primaryColor);
    margin-top: 10px;
    margin-bottom: 15px;
}

.expri .cp_expri p {
    text-align: justify;
}

.cp_expri p {
    font-size: 14px;
    line-height: 18px;
    color: #b5b5b5;
}

.skills_contents .edu .item .cp_expri {
    width: 100%;
}

.edu .cp_expri p {
    text-align: left;
}

.skills_contents .edu .item .cp_expri p span {
    font-weight: 700;
    color: var(--white);
    margin-right: 10px;
}

.skills_contents .scroll_bar {
    width: 75%;
    height: 8px;
    border: 1px solid var(--primaryColor);
    border-radius: 30px;
    padding: 2px;
}

.skills_contents .inner_scroll {
    height: 100%;
    background: var(--primaryColor);
    position: relative;
}

.skills_contents .html .inner_scroll {
    width: 95%;
}

.skills_contents .css .inner_scroll {
    width: 90%;

}

.skills_contents .js .inner_scroll {
    width: 60%;

}

.skills_contents .bs .inner_scroll {
    width: 85%;

}

.progress_item {
    margin-bottom: 35px;
}

.inner_scroll::after {

    font-size: 14px;
    color: #26292c;
    position: absolute;
    top: -40px;
    right: -35px;
    background: var(--primaryColor);
    padding: 5px;
    border-radius: 7px;
    font-weight: 700;
}

.inner_scroll::before {
    content: "";
    width: 20px;
    height: 20px;
    background: var(--primaryColor);
    position: absolute;
    bottom: 8px;
    right: -25px;
    transform: rotate(45deg);
}

.html .inner_scroll::after {
    content: "95%";
}

.css .inner_scroll::after {
    content: "90%";
}

.js .inner_scroll::after {
    content: "60%";
}

.bs .inner_scroll::after {
    content: "85%";
}

.skils_title h4 {
    font-size: 28px;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 80px;
    position: relative;
}

.skils_title h4::after {
    content: "";
    position: absolute;
    width: 20%;
    height: 3px;
    background: var(--primaryColor);
    left: 50%;
    bottom: -17px;
    transform: translateX(-50%);
}

.skils_title h4::before {
    content: "";
    position: absolute;
    width: 15%;
    height: 3px;
    background: var(--primaryColor);
    left: 50%;
    bottom: -23px;
    transform: translateX(-50%);
}

.progress_item p {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}
/* Service Section css goes here */
#services_section {
    height: 100vh !important;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 80px;
    background: var(--backgroundColor);
    width: 100% !important;

}

#services_section .content-gap {
    margin-top: 100px;
}

.srv_nav_item {
    padding: 10px;
    margin-right: 15px;
    cursor: pointer;
    width: auto !important;
}


.srv_nav_item:last-child {
    margin-right: 0;
}

.srv_nav_item i {
    display: block;
    font-size: 30px;
    padding: 35px 20px !important;
    background: #26292c;
    border-radius: 10px;
    margin-bottom: 10px;
    transition: all .3s linear;
}

.srv_nav_item p {
    font-size: 16px;
    text-transform: capitalize;
    position: relative;
    padding-bottom: 10px;
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
}

.srv_nav_item.slick_active i,
.srv_nav_item.slick_active p,
.srv_nav_item.slick-current i,
.srv_nav_item.slick-current p,
.srv_nav_item:hover i,
.srv_nav_item:hover p {
    color: var(--primaryColor)
}

.srv_nav_item p:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0%;
    height: 3px;
    background: var(--primaryColor);
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
}

.srv_nav_item.slick_active p:after,
.srv_nav_item.slick-current p:after,
.srv_nav_item:hover p:after {
    width: 100%;
    left: 0;
}

.srv_content_nav {
    padding: 10px;
    border: 1px solid var(--primaryColor);
    border-radius: 30px;
    width: max-content;
    margin: auto;
}

.srv_content_nav .srv_content_nav_item {
    display: block;
    padding: 10px 15px;
    border-radius: 30px;
    margin-right: 10px;
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    cursor: pointer;
    width: auto !important;
}

.srv_content_nav .srv_content_nav_item.slick_active,
.srv_content_nav .srv_content_nav_item.slick-current,
.srv_content_nav .srv_content_nav_item:hover {
    background: var(--primaryColor);
}

.srv_content_nav .srv_content_nav_item:last-child {
    margin-right: 0;
}

.srv_content_nav .srv_content_nav_item p {
    margin: 0;
    padding: 0;
    font-weight: 600;
    color: var(--white);
    transition: all .3s linear;
}

.srv_content_nav .srv_content_nav_item.slick_active p,
.srv_content_nav .srv_content_nav_item.slick-current p,
.srv_content_nav .srv_content_nav_item:hover p {
    color: #26292c;

}

.srv_content {
    padding: 20px;
    border-radius: 30px;
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
}

.srv_content_content {
    width: 100%;
    padding: 20px;
    background: #26292c;
    border-radius: 10px;
    margin-top: 30px;
    margin: auto;
    margin-top: 30px;
}

.srv_content_content_item p {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: #b5b5b5;
}

.srv_content_content_item a {
    font-size: 18px;
    font-weight: 600;
    color: var(--primaryColor);
}

.srv_content_content_item a i {
    margin-left: 10px;
}