@font-face {
    font-family: "flaticon";
    src: url("./flaticon.ttf?46bb792295651900ac3944e894f03c5b") format("truetype"),
url("./flaticon.woff?46bb792295651900ac3944e894f03c5b") format("woff"),
url("./flaticon.woff2?46bb792295651900ac3944e894f03c5b") format("woff2"),
url("./flaticon.eot?46bb792295651900ac3944e894f03c5b#iefix") format("embedded-opentype"),
url("./flaticon.svg?46bb792295651900ac3944e894f03c5b#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-graduation-cap:before {
    content: "\f101";
}
.flaticon-home:before {
    content: "\f102";
}
.flaticon-briefcase:before {
    content: "\f103";
}
.flaticon-settings:before {
    content: "\f104";
}
.flaticon-user:before {
    content: "\f105";
}
.flaticon-brain:before {
    content: "\f106";
}
.flaticon-book:before {
    content: "\f107";
}
.flaticon-phone-call:before {
    content: "\f108";
}
